language: node_js
node_js:
- '8'
notifications:
  email: false
deploy:
  provider: npm
  email: davidstoreypickart@gmail.com
  api_key:
    secure: nS1hkysbue6OLRehIa9yozeDTIWmn0336Qf8Kcc3KSYrPX/qkxWrVQ13NUGfv2u0QCBfPoITADapeXzi+07moOdaDdMDp2cSBXrV7C0tybLavkkI/nRG7tdz8EhkxRXZMqI9HI4giDqiox2cu7W/4gWzxBaXqmEfUIpnuPJ3fPjNaD2NvnmBOt30mhGd34PFHjMK0ssX9HSDG5osUOBAQ0iJEUU5m7XSX9I4CbtpTZiU7fx13dsT0abXUTAcTRVXUzvPyWCX/zpSP4P5/+e99hOgo3SOh1MPDoRk739psZ8oldNdp644PEJU/G8tEff4x5qvcWVMSWAWyC3a2h/UepJVBC4eFPNP1Jb73+8RHZdxp16ujCb/S9iIZ6+/T9HCAz4xeubs+rmp7MErQmciISAaAUZizTpKO1J+0TbAmtbUs5OjbAbV6DdoShBqYd1KAFSIimISypRymq2GZgQQw52DW50AXUanSzyXoIGb50FzPrp8CkOr8UZqcM84Wf4jN5rWiEtw+G9Ay8DDSTFRJSlPRIWUeFIRZ0OZIFvnvxQonDMBhA3Ya+TgJrFXT7p8zmUnt6n/bdahM8Z3M40sQIvtZ9nt4KGPFVXKHHJa7L8+OyIlR+phVKweuHRfUXXuhJ6oGb4zLH8gXX8nrG0m6MyYvffASi5bg49PxSAtAHc=
  on:
    branch: master
